@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}


/* ================ Reusable Code ========= */

.btn-primary{
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    background: rgb(0, 106, 80);    
    color: #ffff;
    cursor: pointer;
    border: none;

}

/* ================ Header ================ */
header{
    padding: 24px 160px;

}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 32px;
}

.sign-in-btn{
    padding: 15px 30px;
    background:transparent;
    border: 2px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

/* ================ Banner ================ */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 80px 100px;
    margin-top: 20px;
    border-radius: 24px;
    gap: 64px;
    text-align: start;

}




.banner-text p{
    font-size: 24px;
    color: #0e0e0e80;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-text h2{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

